# =============================================
# TradeSignal Pro — Frontend Environment
# Copy ke .env.local dan isi nilainya
# =============================================

# URL Backend Express (port 3000 Hostinger)
NEXT_PUBLIC_API_URL=https://tradesignalpro.web.id

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=913916086668-nqd2bsn3618mcgmksvenls306nurub32.apps.googleusercontent.com

# Google Analytics
NEXT_PUBLIC_GA_ID=G-NNLKLQW8X4
