# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=913916086668-nqd2bsn3618mcgmksvenls306nurub32.apps.googleusercontent.com

# Google Analytics
NEXT_PUBLIC_GA_ID=G-NNLKLQW8X4

# Supabase (if direct client access needed)
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
